In [1]:
import pandas as pd
import numpy as np
import operator
import os
from pathlib import Path
cwd = os.getcwd() # get path of current working directory
main_folder = str(Path(cwd).parents[0]) # main folder is the lowest level in project

In [2]:
morg79 = pd.read_stata(main_folder + "\data\morg79.dta")
morg80 = pd.read_stata(main_folder + "\data\morg80.dta")
morg94 = pd.read_stata(main_folder + "\data\morg94.dta", convert_categoricals=False)
morg95 = pd.read_stata(main_folder + "\data\morg95.dta", convert_categoricals=False)
morg96 = pd.read_stata(main_folder + "\data\morg96.dta", convert_categoricals=False)
morg97 = pd.read_stata(main_folder + "\data\morg97.dta", convert_categoricals=False)

In [4]:
#FIRST CREATE SKILL INTESITY OF INPUTS
morg79["year"]=1980
morg79_new = morg79[["year", "age", "sex", "race", "esr", "gradeat", "ind70", "dind", "earnwke", "uhourse"]]
morg_7980 = morg79_new.append(morg80)
morg_7980_new = morg_7980[["ind70", "age", "race", "sex", "gradeat", "esr", "uhourse","earnwke", "year", "dind"]]

morg_m_798094 = morg_7980_new.append(morg94)
morg_798094  = morg_m_798094[['year', 'age', 'sex', 'race', 'esr', 'gradeat', 'ind70', 'dind', 'earnwke', 'uhourse', 'ind80', 'grade92', 'lfsr94']]

morg_m_79809495 = morg_798094.append(morg95)
morg_79809495  = morg_m_79809495[['year', 'age', 'sex', 'race', 'esr', 'gradeat', 'ind70', 'dind', 'earnwke', 'uhourse', 'ind80', 'grade92', 'lfsr94']]

morg_m_7980949596 = morg_79809495.append(morg96)
morg_7980949596  = morg_m_7980949596[['year', 'age', 'sex', 'race', 'esr', 'gradeat', 'ind70', 'dind', 'earnwke', 'uhourse', 'ind80', 'grade92', 'lfsr94']]

morg_m_798094959697 = morg_7980949596.append(morg97)
morg79_97  = morg_m_798094959697[['year', 'age', 'sex', 'race', 'esr', 'gradeat', 'ind70', 'dind', 'earnwke', 'uhourse', 'ind80', 'grade92', 'lfsr94']]
#morg79_97

In [5]:
#H/L PER YEAR
morg79_971 = morg79_97.loc[operator.or_(morg79_97['esr'] == 1, morg79_97['lfsr94'] == 1)]
morg79_971.loc[operator.and_(morg79_971['grade92'] >= 0, morg79_971['grade92'] <= 39), 'l'] = 1
morg79_971.loc[morg79_971['grade92'] >= 40, 'h'] = 1
#morg79_971

C:\Users\gimat\anaconda3\lib\site-packages\pandas\core\indexing.py:1596: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
C:\Users\gimat\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\gimat\anaconda3\lib\site-packages\pandas\core\indexing.py:1596: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
C:\Users\gimat\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

In [6]:
morg79_971.to_stata('morg79_971.dta')

In [8]:
morg79_972 = pd.read_stata('morg79_972.dta')
morg79_972 = morg79_972[morg79_972['none'].notna()]
#morg79_972

In [10]:
'''
#MemoryError: Unable to allocate 3.65 TiB for an array with shape (501986219719,) and data type int64
nonecole= nonecole[['none','cole','ind70']]
nonecole
morg79_972 = pd.merge(nonecole, morg79_971, on='ind70')
'''
morg79_972 = pd.read_stata('morg79_972.dta')
morg79_972 = morg79_972[morg79_972['none'].notna()]
morg79_972['ratio1'] =morg79_972['cole']/morg79_972['none'] 
morg79_972['ratio2'] =morg79_972['cole']/(morg79_972['cole']+morg79_972['none'])
#morg79_972

In [13]:
### INDUSTRY MORE REFINED
morg79_973 = morg79_972.rename(columns={'dind': 'ind_nber'})
morg79_973['ind'] = np.nan

morg79_973.loc[morg79_973['ind_nber'] == 19, 'ind'] = 1 #food home
morg79_973.loc[np.logical_or(morg79_973['ind70'] == 669,morg79_973['ind80'] == 641), 'ind'] = 2 #food out
morg79_973.loc[morg79_973['ind_nber'] == 20, 'ind'] = 3 #tobacco
morg79_973.loc[np.logical_or(morg79_973['ind70'] == 289,morg79_973['ind80'] == 120), 'ind'] = 4 #alchol off premises
morg79_973.loc[morg79_973['ind70'] == 9999999999999, 'ind'] = 5 #niteclub
morg79_973.loc[morg79_973['ind_nber'] == 22, 'ind'] = 6 #clothing shoes
morg79_973.loc[morg79_973['ind_nber'] == 38, 'ind'] = 7 #clothing services
morg79_973.loc[np.logical_or(morg79_973['ind70'] == 249,morg79_973['ind80'] == 381), 'ind'] = 8 #jewelry prof equipment
morg79_973.loc[morg79_973['ind_nber'] == 39, 'ind'] = 9 #beauty shops
morg79_973.loc[morg79_973['ind_nber'] == 4, 'ind'] = 10 #housing

morg79_973.loc[morg79_973['ind_nber'] == 6, 'ind'] = 11 #furniture household appliances
morg79_973.loc[np.logical_or(morg79_973['ind70'] == 467,morg79_973['ind80'] == 450), 'ind'] = 12 #electricity
morg79_973.loc[np.logical_or(morg79_973['ind70'] == 469,morg79_973['ind80'] == 451), 'ind'] = 13 #gas
morg79_973.loc[np.logical_or(morg79_973['ind70'] == 477,morg79_973['ind80'] == 470), 'ind'] = 14 #water
morg79_973.loc[np.logical_or(morg79_973['ind_nber'] == 26,morg79_973['ind80'] == 200), 'ind'] = 15 #fuel oil
morg79_973.loc[morg79_973['ind_nber'] == 30, 'ind'] = 16 #telephone
morg79_973.loc[morg79_973['ind_nber'] == 36, 'ind'] = 17 #domestic services
morg79_973.loc[morg79_973['ind_nber'] == 25, 'ind'] = 18 #drugs
morg79_973.loc[np.logical_or(morg79_973['ind70'] == 247,morg79_973['ind80'] == 372), 'ind'] = 19 #oftamic products

morg79_973.loc[np.logical_or(np.logical_and(morg79_973['ind70'] >= 828,morg79_973['ind70'] <= 837),
                             np.logical_and(morg79_973['ind70'] >= 847,morg79_973['ind70'] <= 848)),'ind'] = 20
morg79_973.loc[np.logical_or(np.logical_and(morg79_973['ind80'] >= 812,morg79_973['ind80'] <= 830),
                             np.logical_and(morg79_973['ind80'] >= 838,morg79_973['ind80'] <= 840)), 'ind'] = 20 #doctors

morg79_973.loc[morg79_973['ind_nber'] == 41, 'ind'] = 21 #hospitals
morg79_973.loc[morg79_973['ind_nber'] == 35, 'ind'] = 22 #insurance
morg79_973.loc[np.logical_or(morg79_973['ind_nber'] == 37,morg79_973['ind_nber'] == 45), 'ind'] = 23 #+BUSINESS SERV.39
morg79_973.loc[morg79_973['ind_nber'] == 9999999999, 'ind'] = 24 #insurance

morg79_973.loc[np.logical_or(morg79_973['ind70'] == 177,morg79_973['ind70'] == 198), 'ind'] = 25
morg79_973.loc[np.logical_or(morg79_973['ind80'] == 310,morg79_973['ind80'] == 332), 'ind'] = 25 #auto parts

morg79_973.loc[morg79_973['ind_nber'] == 38, 'ind'] = 26 #auto service
morg79_973.loc[np.logical_or(morg79_973['ind70'] == 558,morg79_973['ind80'] == 201), 'ind'] = 27 #fuel
morg79_973.loc[morg79_973['ind70'] == 99999999999, 'ind'] = 28 #auto insur
morg79_973.loc[np.logical_or(morg79_973['ind70'] == 408,morg79_973['ind80'] == 401), 'ind'] = 29 #roads
morg79_973.loc[np.logical_or(morg79_973['ind70'] == 407,morg79_973['ind80'] == 400), 'ind'] = 30 #taxi bus railway

morg79_973.loc[np.logical_or(morg79_973['ind70'] == 427,morg79_973['ind80'] == 421), 'ind'] = 31 #air fares
morg79_973.loc[morg79_973['ind_nber'] == 23, 'ind'] = 32
morg79_973.loc[np.logical_or(np.logical_and(morg79_973['ind70'] >= 239,morg79_973['ind70'] <= 246),
                             np.logical_and(morg79_973['ind70'] >= 250,morg79_973['ind70'] <= 257)), 'ind'] = 33
morg79_973.loc[np.logical_and(morg79_973['ind80'] >= 373,morg79_973['ind80'] <= 380), 'ind'] = 33 #recreation equipment
morg79_973.loc[morg79_973['ind_nber'] == 40, 'ind'] = 34 #oth recreation
morg79_973.loc[np.logical_or(morg79_973['ind70'] == 858,morg79_973['ind80'] == 850), 'ind'] = 35 #high educ
morg79_973.loc[np.logical_or(morg79_973['ind70'] == 857,morg79_973['ind80'] == 842), 'ind'] = 36 #elem educ
morg79_973.loc[np.logical_or(morg79_973['ind70'] == 867,morg79_973['ind80'] == 860), 'ind'] = 37 #other educ
morg79_973.loc[morg79_973['ind_nber'] == 44, 'ind'] = 38 #relig and welfare
#morg79_973

In [14]:
morg79_973.loc[operator.and_(morg79_973['gradeat'] <= 12, morg79_973['year'] == 1980), 'l80'] = 1
morg79_973.loc[operator.and_(morg79_973['gradeat'] > 12, morg79_973['year'] == 1980), 'h80'] = 1

morg79_973['degree'] = morg79_973.groupby('ind')['h80'].transform('count')
morg79_973['nodegree'] = morg79_973.groupby('ind')['l80'].transform('count')

morg79_973['total'] = morg79_973['degree'] + morg79_973['nodegree'] 
morg79_973['ratio80'] = morg79_973['degree']/morg79_973['total'] 
#morg79_973

In [15]:
morg79_973_sort = morg79_973.sort_values(['ind'], ascending=[1])
elast_IPUM = pd.read_stata('elast_IPUM')

In [16]:
#need all industries
elast_IPUM = pd.read_stata('elast_IPUM')
morg79_973_1 = pd.merge(morg79_973_sort, elast_IPUM, on='ind') #/*this data is produced by figure1_table1&2.do*/
morg79_973_1 = morg79_973_1.drop(columns=['ratio80_y']).rename(columns={'ratio80_x': 'ratio80'})
#morg79_973_1

In [17]:
#some industries match to multiple goods
morg79_973_1.loc[morg79_973_1['ind'] == 7, 'ratio80'] = 0.2395 #/*repairs*/
morg79_973_1.loc[np.logical_or(morg79_973_1['ind'] == 24,morg79_973_1['ind'] == 28), 'ratio80'] = 0.539 #/*insurance*/
morg79_973_1.loc[morg79_973_1['ind'] == 5, 'ratio80'] = 0.265 #/*eating and drinking places*/

morg79_973_1['ratio'] = morg79_973_1['ratio80']

In [18]:
#***divide skillintensive on the basis of ratio80 then keep if year>1994
morg79_973_1 = morg79_973_1.loc[morg79_973_1['year'] >= 1994]

morg79_973_1['skill'] = 0
morg79_973_1.loc[morg79_973_1['h'] == 1, 'skill'] = 1
#morg79_973_1

In [19]:
#LAMBDA1 
morg79_973_1.loc[morg79_973_1['ratio'] > 0.37, 'h1'] = 1
morg79_973_1.loc[morg79_973_1.h1 == 1, 'h1'] = 180876
morg79_973_1.loc[morg79_973_1['ratio'] <= 0.37, 'h2'] = 1
morg79_973_1.loc[morg79_973_1.h2 == 1, 'h2'] = 52713

morg79_973_1['maxh1'] = morg79_973_1['h1'].max()
morg79_973_1['maxh2'] = morg79_973_1['h2'].max()
morg79_973_1

morg79_973_1.loc[morg79_973_1['ratio'] > 0.37, 't1'] = 1
morg79_973_1.loc[morg79_973_1.t1 == 1, 't1'] = 254753
morg79_973_1.loc[morg79_973_1['ratio'] <= 0.37, 't2'] = 1
morg79_973_1.loc[morg79_973_1.t2 == 1, 't2'] = 145893

morg79_973_1['t11'] = morg79_973_1['t1'].max()
morg79_973_1['t22'] = morg79_973_1['t2'].max()

morg79_973_1['highh'] = morg79_973_1['maxh1']/morg79_973_1['t11']
morg79_973_1['highl'] = morg79_973_1['maxh2']/morg79_973_1['t22']
morg79_973_1['lambda1'] = morg79_973_1['highh']/morg79_973_1['highl']    

#LAMBDA2
morg79_973_1.loc[morg79_973_1['ratio'] > 0.37, 'l1'] = 1
morg79_973_1.loc[morg79_973_1.l1 == 1, 'l1'] = 73875
morg79_973_1.loc[morg79_973_1['ratio'] <= 0.37, 'l2'] = 1
morg79_973_1.loc[morg79_973_1.l2 == 1, 'l2'] = 93178

morg79_973_1['maxl1'] = morg79_973_1['l1'].max()
morg79_973_1['maxl2'] = morg79_973_1['l2'].max()

morg79_973_1['lowh'] = morg79_973_1['maxl1']/morg79_973_1['t11']
morg79_973_1['lowl'] = morg79_973_1['maxl2']/morg79_973_1['t22']
morg79_973_1['lambda2'] = morg79_973_1['lowh']/morg79_973_1['lowl'] 
#morg79_973_1

In [20]:
#ALPHA1
morg79_973_1['w'] = morg79_973_1['earnwke']
morg79_973_1.loc[(morg79_973_1['skill'] == 1) & (morg79_973_1['ratio'] > 0.37), 'wh'] = 1
morg79_973_1.loc[morg79_973_1.wh == 1, 'wh'] = 9.93e+07
morg79_973_1.loc[morg79_973_1['ratio'] > 0.37, 'wtoth'] = 1
morg79_973_1.loc[morg79_973_1.wtoth == 1, 'wtoth'] = 1.24e+08
morg79_973_1['alfa1'] = morg79_973_1['wh']/morg79_973_1['wtoth']

#ALPHA2
morg79_973_1.loc[(morg79_973_1['skill'] == 1) & (morg79_973_1['ratio'] <= 0.37), 'wl'] = 1
morg79_973_1.loc[morg79_973_1.wl == 1, 'wl'] = 2.11e+07
morg79_973_1.loc[morg79_973_1['ratio'] <= 0.37, 'wtotl'] = 1
morg79_973_1.loc[morg79_973_1.wtotl == 1, 'wtotl'] = 4.93e+07
morg79_973_1['alfa2'] = morg79_973_1['wl']/morg79_973_1['wtotl']
#morg79_973_1

In [21]:
#RESULTS
#Summary statistics
morg79_973_1[['lambda1','lambda2','alfa1','alfa2','ratio1', 'ratio2']].describe()

,lambda1,lambda2,alfa1,alfa2,ratio1,ratio2
count,4.006420e+05,4.006420e+05,1.808760e+05,5.271300e+04,400642.000000,400642.000000
mean,1.965072e+00,4.540454e-01,8.008065e-01,4.279919e-01,1.215926,0.549216
std,1.343372e-12,1.921576e-12,2.407192e-12,1.195722e-13,0.017707,0.003544
min,1.965072e+00,4.540454e-01,8.008065e-01,4.279919e-01,1.190870,0.543560
25%,1.965072e+00,4.540454e-01,8.008065e-01,4.279919e-01,1.190870,0.543560
50%,1.965072e+00,4.540454e-01,8.008065e-01,4.279919e-01,1.227611,0.551089
75%,1.965072e+00,4.540454e-01,8.008065e-01,4.279919e-01,1.229702,0.551510
max,1.965072e+00,4.540454e-01,8.008065e-01,4.279919e-01,1.232653,0.552102

In [22]:
#TABLE5
results = [[1.96,0.45,0.80,0.43,1.22,1.4]]
index = ["Labor market aggregates"]
TABLE3B = pd.DataFrame(data = results, index=index, columns=['λh','λl','a1','a2','H/L','σ'])
TABLE3B

                           λh    λl   a1    a2   H/L    σ
Labor market aggregates  1.96  0.45  0.8  0.43  1.22  1.4